.card-custom {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.151);
    margin-bottom:10px;
    width: 100%;
    max-width: 500px;
    min-height: 500px;
    position: relative;
    }


.auth-button {
  display: block;
  margin: 20px auto;
  width: 50%; /* Adjust as needed */
  max-width: 300px; /* Optional: limits max width */
  background-color: #28a745 !important; /* Green background */
  color: white; /* White text */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding */
  font-size: 16px; /* Adjust font size */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.auth-button:hover {
  background-color: #218838 !important; /* Darker green on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}
  
/* .login-bg {
  min-height: 5vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
} */
.login-bg {
  min-height: 5vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.login-bg::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(94, 94, 94, 0.119); /* dark overlay */
  z-index: 0;
}

.login-bg > * {
  position: relative;
  z-index: 1;
}