.admin-sidebar-container {
    display: flex;
    font-family: 'Urbanist', sans-serif;
}

.sidebar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    height: 100vh;
    position: fixed;
    width: 250px;
    overflow-y: auto;
}

.sidebar-header {
    margin-bottom: 20px;
}

.sidebar-title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.menuItem {
    padding: 10px 15px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.menuItem:hover {
    background-color: #13395e;
}

.menuItem.active {
    background-color: #13395e;
    color: #b6c8d9;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}
