/* Resetting some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

/* Ensure no extra space at the top */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    padding-top: 56px; /* Adjust this value based on the height of your navbar */
}

/* Navbar */
.navbar-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; /* Ensure the navbar is above other elements */
    margin: 0; /* Ensure no extra margin */
}

.navbar-container {
    background-color: inherit; /* Inherit the background color from the Navbar */
}

.main-content {
    transition: margin-left 0.3s ease-in-out;
    margin-left: 0;
    padding: 20px;
}

.main-content.content-shifted {
    margin-left: 250px;
}

.modern-dropdown-toggle {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 20px;
    background-color: #343a40;
    border: none;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;
}

.modern-dropdown-toggle:hover {
    background-color: #495057;
    transform: scale(1.05);
}

.modern-dropdown-menu {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
    animation: fadeIn 0.3s ease-in-out;
}

.modern-dropdown-menu .dropdown-item {
    padding: 10px 20px;
    color: #212529;
    transition: background-color 0.3s;
}

.modern-dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa;
}

.modern-dropdown-menu .dropdown-header {
    font-size: 1rem;
    color: #6c757d;
    padding: 10px 20px;
    background-color: #e9ecef;
}

.modern-dropdown-menu .dropdown-divider {
    margin: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}