body {
    font-family: 'Urbanist', sans-serif;
}

.landing-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.background-collage {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.background-image {
    flex: 1;
    background-size: cover;
    background-position: center;
    position: relative;
}

.background-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

.content {
    position: relative;
    text-align: left;
    color: #fff;
    z-index: 1;
    padding: 20px;
    margin-top: -90px;
}

/* Main Title Styling */
.main-title {
    text-align: left;
    font-size: 3.5em;
    font-weight: 500; /* Bold */
    font-family: 'Urbanist', sans-serif;
    animation: fadeIn 2s ease-in-out;
}

/* Subtitle Styling */
.sub-title {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #fff;
    opacity: 0.9;
    font-weight: 400;
    font-family: 'Urbanist', sans-serif; /* Regular */
    animation: fadeIn 2s ease-in-out;
}

.cta-button-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px; /* Adjust as needed */
    font-family: 'Urbanist', sans-serif;
}

/* Call-to-Action Button */
.cta-button {
    background-color: #0dd61e; /* Vibrant yellow/orange */
    color: white;
    font-size: 1.2em;
    border: none;
    padding: 15px 40px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Urbanist', sans-serif;
    animation: fadeIn 2s ease-in-out;
}

.cta-button:hover {
    background-color: #0bb517; /* Darker green on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.about-us-container {
    margin-top: 40px;
    text-align: left;
    color: #000000;
    padding: 0% 10%;
    font-family: 'Urbanist', sans-serif;
}

.about-us-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    justify-content: left;
    align-items: left;
    font-family: 'Urbanist', sans-serif;
}

.about-us-container p {
    font-size: 1.2em;
    line-height: 1.5;
    font-family: 'Urbanist', sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}